.pwd-wrap {
    display: flex;
    flex-direction: row;
}

.pwd-wrap :hover {

}

.pwd-group__icon {
    background-image: url('project://database/Packages/com.shlifedev.ugs/Editor/GUI/Textures/icon_folder.png?fileID=2800000&guid=48af7e2b86cb4e74db6747a064e30207&type=3#icon_folder');
    width: 20px;
    height: 20px; 
    -unity-background-image-tint-color: rgba(255, 138, 0, 255);
}

.pwd-group__text {
}
