*{ 
    border-width : 1px;
}
.window{
    width : 100%;
    height : 100%;
    display: flex;
    flex-direction: column;  
}

.pwd-container{
    display : flex;
    flex-direction: row;
    height : 30px;
}

 
.pwd-wrap{
    flex-direction: row;
}